@use "../../../../styles.scss" as *;

:host {
  @include flex-center();
  width: 80%;
}

.regular {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  font-weight: 400;
  font-size: text-size("regular");
  border-radius: 20px;
  border: 2px solid $primary-decorative-color;
  background-color: $primary-background-color;
  color: $primary-text-color;
  border-style: none;

  &:hover {
    cursor: pointer;
    transform: translate(-4px, -4px);
    box-shadow: 2px 2px 0px $primary-decorative-color;
    filter: drop-shadow(2px 2px 10px $primary-decorative-color);
    transition: all 0.5s ease;
  }
}
