@use "../../../../../../styles.scss" as *;

:host {
  @include flex-center(column);
  height: auto;
  width: 100%;
}

section {
  margin-top: 1rem;
  min-height: 0;
  max-height: 0;
  overflow: hidden;
  width: 100%;
  transition: max-height 0.5s ease-in-out;

  &.show {
    max-height: 393.33px;
  }

  div {
    @include flex-center();
    height: 100%;
    min-height: 83.33px;
  }

  div:first-child {
    min-height: 60px;
  }

  div:nth-child(3),
  div:nth-child(4) {
    app-movement-icon:first-child {
      border-right: 1px solid $primary-text-color;
    }
  }
}
