<h2>Categories</h2>

<app-add-category (saved)="setData()"></app-add-category>

<app-add-subcategory
  (saved)="setData()"
  *ngIf="categories && categories.length > 0"
  [categories]="categories"
></app-add-subcategory>

<div class="filter">
  <label for="">Filter categories</label>
  <input
    name="filter"
    type="text"
    (input)="onFilterChange($event)"
    placeholder="Search by any table value"
  />
</div>
<div
  class="tableContainer"
  *ngIf="
    categoriesAndSubcategories && categoriesAndSubcategories.length > 0;
    else noCategories
  "
>
  <table
    aria-live="polite"
    aria-label="List of registered categories with their respective details"
  >
    <thead>
      <tr>
        <th scope="col" (click)="sort('categoryName')">
          <div>
            Category name
            <p
              *ngIf="sortService.sortDirection['categoryName'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['categoryName'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['categoryName'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>
        <th scope="col" (click)="sort('subcategoryName')">
          <div>
            Subcategory name
            <p
              *ngIf="sortService.sortDirection['subcategoryName'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['subcategoryName'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['subcategoryName'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>
        <th scope="col" (click)="sort('products')">
          <div>
            Products
            <p
              *ngIf="sortService.sortDirection['products'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['products'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['products'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of filteredCategoriesAndSubcategories">
        <td>
          <app-editable-text
            [id]="record.categoryId"
            [text]="record.categoryName"
            [action]="service.updateCategoryName.bind(service)"
          ></app-editable-text>
        </td>
        <td>
          <app-editable-text
            [id]="record.subcategoryId"
            [text]="record.subcategoryName"
            [action]="subService.renameSubcategory.bind(subService)"
          ></app-editable-text>
        </td>
        <td>
          <app-editable-nav
            *ngIf="record.products > 0; else noSubcategoryProducts"
            [text]="record.products.toString()"
            [spanText]="'Show subcategory products'"
            [editRoute]="
              '/workspace/categories/subcategory/' +
              record.subcategoryId +
              '/products'
            "
          >
          </app-editable-nav>
          <ng-template #noSubcategoryProducts>
            {{ record.products }}
          </ng-template>
        </td>
        <td>
          <div>
            <app-small-nav-button
              [spanText]="'Show category products'"
              [editRoute]="
                '/workspace/categories/category/' +
                record.categoryId +
                '/products'
              "
            ></app-small-nav-button>
            <app-small-edit-button
              [spanText]="'Change subcategory category'"
              [editRoute]="
                '/workspace/subcategory/category/change/' +
                record.subcategoryId +
                '/' +
                record.subcategoryName +
                '/' +
                record.categoryId
              "
            ></app-small-edit-button>
            <ng-container *ngIf="record.subcategoryId; else deleteCategory">
              <ng-container *ngIf="record.products === 0; else noDeletion">
                <app-small-delete-button
                  [spanText]="'Delete subcategory'"
                  [id]="record.subcategoryId"
                  [deleteFn]="subService.deleteSubcategory.bind(subService)"
                  (clicked)="setData()"
                ></app-small-delete-button>
              </ng-container>
              <ng-template #noDeletion>
                <span>No deletion available</span>
              </ng-template>
            </ng-container>
            <ng-template #deleteCategory>
              <app-small-delete-button
                [spanText]="'Delete category'"
                [id]="record.categoryId"
                [deleteFn]="service.deleteCategory.bind(service)"
                (clicked)="setData()"
              ></app-small-delete-button>
            </ng-template>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noCategories>
  <p
    class="noCategories"
    *ngIf="
      categoriesAndSubcategories && categoriesAndSubcategories.length === 0;
      else undefinedCategories
    "
  >
    There are not any categories registered yet.
  </p>
</ng-template>

<ng-template #undefinedCategories>
  <app-loading></app-loading>
</ng-template>
