<h2>Categories</h2>

<app-add-category (saved)="setCategoriesAndSubcategories()"></app-add-category>

<app-add-subcategory
  (saved)="setCategoriesAndSubcategories()"
  *ngIf="categories && categories.length > 0"
  [categories]="categories"
></app-add-subcategory>

<div
  class="tableContainer"
  *ngIf="
    categoriesAndSubcategories && categoriesAndSubcategories.length > 0;
    else noCategories
  "
>
  <table
    aria-live="polite"
    aria-label="List of registered categories with their respective details"
  >
    <thead>
      <tr>
        <th scope="col" (click)="sort('categoryName')">
          Category name
          <img
            *ngIf="sortService.sortDirection['categoryName'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['categoryName'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('subcategoryName')">
          Subcategory name
          <img
            *ngIf="sortService.sortDirection['subcategoryName'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['subcategoryName'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('products')">
          Products
          <img
            *ngIf="sortService.sortDirection['products'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['products'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of categoriesAndSubcategories">
        <td>
          <app-editable-text
            [id]="record.categoryId"
            [text]="record.categoryName"
            [action]="service.updateCategoryName.bind(service)"
          ></app-editable-text>
        </td>
        <td>
          <app-editable-text
            [id]="record.subcategoryId"
            [text]="record.subcategoryName"
            [action]="subService.renameSubcategory.bind(subService)"
          ></app-editable-text>
        </td>
        <td>
          <ng-container *ngIf="record.products === 0; else showLink">
            {{ record.products }}
          </ng-container>
          <ng-template #showLink>
            <a
              [routerLink]="[
                '/workspace/categories/subcategory/' +
                  record.subcategoryId +
                  '/products'
              ]"
            >
              {{ record.products }}
              <span class="tooltip">Show subcategory products</span>
            </a>
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="record.subcategoryId; else deleteCategory">
            <app-small-delete-button
              [spanText]="'Delete subcategory'"
              [id]="record.subcategoryId"
              [deleteFn]="subService.deleteSubcategory.bind(subService)"
              (clicked)="setCategoriesAndSubcategories()"
            ></app-small-delete-button>
          </ng-container>
          <ng-template #deleteCategory>
            <app-small-delete-button
              [spanText]="'Delete category'"
              [id]="record.categoryId"
              [deleteFn]="service.deleteCategory.bind(service)"
              (clicked)="setCategoriesAndSubcategories()"
            ></app-small-delete-button>
          </ng-template>
          <app-small-edit-button
            [spanText]="'Change subcategory category'"
            [editRoute]="
              '/workspace/subcategory/category/change/' + record.subcategoryId
            "
          ></app-small-edit-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noCategories>
  <p class="noCategories">There are not any categories registered yet.</p>
</ng-template>
