<app-button
  *ngIf="filteredProducts && filteredProducts.length > 0"
  (clicked)="toggleOpen()"
  [className]="open ? 'regular red' : 'regular alternativeRegular'"
  [name]="open ? 'Cancel' : 'Link a product'"
></app-button>
<app-form [ngClass]="{ show: open }" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="filter">
    <label for="">Filter products by name</label>
    <input name="filter" type="text" (input)="onFilterChange($event)" />
  </div>
  <div class="tableContainer">
    <table aria-live="polite" aria-label="List of registered products">
      <thead>
        <tr>
          <th scope="col" (click)="sort('productName')">
            <div>
              Product name
              <p
                *ngIf="sortService.sortDirection['productName'] === undefined"
                aria-disabled="true"
              >
                &nbsp;
              </p>
              <img
                *ngIf="sortService.sortDirection['productName'] === false"
                [src]="arrowDown"
                alt="Sort ascending"
              />
              <img
                *ngIf="sortService.sortDirection['productName'] === true"
                [src]="arrowUp"
                alt="Sort descending"
              />
            </div>
          </th>
          <th scope="col">Link product</th>
          <th scope="col" (click)="sort('categoryName')">
            <div>
              Category name
              <p
                *ngIf="sortService.sortDirection['categoryName'] === undefined"
                aria-disabled="true"
              >
                &nbsp;
              </p>
              <img
                *ngIf="sortService.sortDirection['categoryName'] === false"
                [src]="arrowDown"
                alt="Sort ascending"
              />
              <img
                *ngIf="sortService.sortDirection['categoryName'] === true"
                [src]="arrowUp"
                alt="Sort descending"
              />
            </div>
          </th>
          <th scope="col" (click)="sort('subcategoryName')">
            <div>
              Subcategory name
              <p
                *ngIf="
                  sortService.sortDirection['subcategoryName'] === undefined
                "
                aria-disabled="true"
              >
                &nbsp;
              </p>
              <img
                *ngIf="sortService.sortDirection['subcategoryName'] === false"
                [src]="arrowDown"
                alt="Sort ascending"
              />
              <img
                *ngIf="sortService.sortDirection['subcategoryName'] === true"
                [src]="arrowUp"
                alt="Sort descending"
              />
            </div>
          </th>
          <th scope="col" (click)="sort('productPresentation')">
            <div>
              Description
              <p
                *ngIf="
                  sortService.sortDirection['productPresentation'] === undefined
                "
                aria-disabled="true"
              >
                &nbsp;
              </p>
              <img
                *ngIf="
                  sortService.sortDirection['productPresentation'] === false
                "
                [src]="arrowDown"
                alt="Sort ascending"
              />
              <img
                *ngIf="
                  sortService.sortDirection['productPresentation'] === true
                "
                [src]="arrowUp"
                alt="Sort descending"
              />
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of filteredProducts">
          <td>
            {{ record.productName }}
          </td>
          <td>
            <input
              type="radio"
              [id]="'radio' + record.productId"
              formControlName="productId"
              [value]="record.productId"
            />
          </td>
          <td>
            {{ record.categoryName }}
          </td>
          <td>
            {{ record.subcategoryName }}
          </td>
          <td>
            {{ record.productPresentation }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-button [name]="'Link product'"></app-button>
</app-form>
