<h2>Suppliers</h2>

<app-add-supplier (saved)="setSuppliers()"> </app-add-supplier>
<div class="filter">
  <label for="">Filter suppliers</label>
  <input
    name="filter"
    type="text"
    (input)="onFilterChange($event)"
    placeholder="Search by any table value"
  />
</div>
<div
  class="tableContainer"
  *ngIf="suppliers && suppliers.length > 0; else noSuppliers"
>
  <table aria-live="polite" aria-label="List of registered suppliers">
    <thead>
      <tr>
        <th scope="col" (click)="sort('supplierName')">
          <div>
            Supplier name
            <p
              *ngIf="sortService.sortDirection['supplierName'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['supplierName'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['supplierName'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('products')">
          <div>
            Linked products
            <p
              *ngIf="sortService.sortDirection['products'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['products'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['products'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('movements')">
          <div>
            Linked movements
            <p
              *ngIf="sortService.sortDirection['movements'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['movements'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['movements'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of filteredSuppliers">
        <td>
          <app-editable-text
            [id]="record.supplierId"
            [text]="record.supplierName"
            [action]="service.renameSupplier.bind(service)"
          ></app-editable-text>
        </td>
        <td>
          <app-editable-nav
            *ngIf="record.products > 0; else noSupplierProducts"
            [text]="record.products.toString()"
            [spanText]="'Manage supplier relations'"
            [editRoute]="
              'workspace/suppliers/products/' +
              record.supplierId +
              '/' +
              record.supplierName
            "
          ></app-editable-nav>
          <ng-template #noSupplierProducts>
            {{ record.products }}
          </ng-template>
        </td>
        <td>
          <app-editable-nav
            *ngIf="record.movements > 0; else noSupplierMovements"
            [text]="record.movements.toString()"
            [spanText]="'Show related movements'"
            [editRoute]="
              'workspace/suppliers/movements/' +
              record.supplierId +
              '/' +
              record.supplierName
            "
          ></app-editable-nav>
          <ng-template #noSupplierMovements>
            {{ record.movements }}
          </ng-template>
        </td>
        <td>
          <ng-container
            *ngIf="
              record.products === 0 && record.movements === 0;
              else noDeletion
            "
          >
            <app-small-delete-button
              [spanText]="'Delete supplier'"
              [id]="record.supplierId"
              [deleteFn]="service.deleteSupplier.bind(service)"
              (clicked)="setSuppliers()"
            ></app-small-delete-button>
          </ng-container>
          <ng-template #noDeletion>
            <span>No deletion available</span>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noSuppliers>
  <p
    class="noSuppliers"
    *ngIf="suppliers && suppliers.length === 0; else undefinedSuppliers"
  >
    There are not any suppliers registered yet.
  </p>
</ng-template>

<ng-template #undefinedSuppliers>
  <app-loading></app-loading>
</ng-template>
