<app-button
  (clicked)="toggleOpen()"
  [className]="open ? 'regular red' : 'regular alternativeRegular'"
  [name]="open ? 'Cancel' : 'Make a movement!'"
></app-button>

<section [ngClass]="{ show: open }">
  <div></div>
  <div class="entryButtonsContainer">
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Acquisition'"
      [productId]="product?.id"
    ></app-movement-icon>
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Production'"
      [productId]="product?.id"
    ></app-movement-icon>
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Customer return'"
      [productId]="product?.id"
    ></app-movement-icon>
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Entry adjustment'"
      [productId]="product?.id"
    ></app-movement-icon>
  </div>
  <div
    *ngIf="product && product.stockList && product.stockList.length > 0"
    class="outputButtonsContainer"
  >
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Sale'"
      [productId]="product.id"
    ></app-movement-icon>
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Internal consumption'"
      [productId]="product.id"
    ></app-movement-icon>
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Supplier return'"
      [productId]="product.id"
    ></app-movement-icon>
    <app-movement-icon
      [ariaLabel]="'navigation button'"
      [name]="'Output adjustment'"
      [productId]="product.id"
    ></app-movement-icon>
  </div>
  <div>
    <app-movement-icon
      *ngIf="product && product.stockList && product.stockList.length > 0"
      [ariaLabel]="'navigation button'"
      [name]="'Transfer'"
      [productId]="product.id"
    ></app-movement-icon>
  </div>
</section>
