@use "../../../../../../styles.scss" as *;

:host {
  @include flex-center(column);
  gap: 0;
  max-width: 98vw;
}

h3 {
  @include standard-h3();
}

p.noLocations {
  @include standard-plain-message;
  margin: 1rem;
}

.tableContainer {
  @include table-container;
  table {
    @include standard-table;
    thead {
      @include standard-table-thead;
      tr {
        @include standard-table-tr;
        th {
          @include standard-table-th;
          &:hover {
            cursor: pointer;
          }
          &:first-child {
            @include sticky-first-column;
            min-width: 250px;
            width: 250px;
            max-width: 250px;
          }
          &:nth-child(3) {
            min-width: 200px;
            width: 200px;
            max-width: 200px;
          }
          &:nth-child(4) {
            min-width: 300px;
            width: 300px;
            max-width: 300px;
          }
          img {
            width: 10px;
          }
        }
      }
    }
    tbody {
      @include standard-table-tbody;
      tr {
        @include standard-table-tr;
        td {
          @include standard-table-td;
          &:first-child {
            @include sticky-first-column;
            min-width: 250px;
            width: 250px;
            max-width: 250px;
          }
          &:nth-child(3) {
            min-width: 200px;
            width: 200px;
            max-width: 200px;
          }
          &:nth-child(4) {
            min-width: 300px;
            width: 300px;
            max-width: 300px;
          }
          span {
            font-size: map-get($font-sizes, "light");
          }
        }
      }
    }
  }
}

a {
  @include standard-anchor-router-link;

  &:hover {
    span {
      opacity: 1;
    }
  }
  span {
    @include standard-span;
  }
}
