@use "../../../../styles.scss" as *;

:host {
  position: relative;
  @include full-view();
  background-color: $secondary-background-color;
  width: 100%;
  min-height: 0;
  @media (max-width: 1000px) {
    flex-direction: column;
  }

  transform: translate(100vw, 0);
  transition: transform 1s ease-in-out 0s;
  &.show {
    transform: translate(0, 0);
  }
}

p {
  max-width: 500px;
  font-weight: 500;
  font-size: map-get($font-sizes, "regular");
  color: $secondary-text-color;
  padding: 2rem;
  text-align: center;

  @media (max-width: 1000px) {
    font-size: map-get($font-sizes, "small");
  }
}
