<h2>Locations</h2>

<app-add-location (saved)="setLocations()"> </app-add-location>

<div
  class="tableContainer"
  *ngIf="locations && locations.length > 0; else noLocations"
>
  <table aria-live="polite" aria-label="List of registered locations">
    <thead>
      <tr>
        <th scope="col" (click)="sort('locationName')">
          <div>
            Location name
            <p
              *ngIf="sortService.sortDirection['locationName'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['locationName'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['locationName'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('locationAddress')">
          <div>
            Location address
            <p
              *ngIf="sortService.sortDirection['locationAddress'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['locationAddress'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['locationAddress'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('products')">
          <div>
            Related products
            <p
              *ngIf="sortService.sortDirection['products'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['products'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['products'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('movements')">
          <div>
            Related movements
            <p
              *ngIf="sortService.sortDirection['movements'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['movements'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['movements'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of locations">
        <td>
          <app-editable-text
            [id]="record.locationId"
            [text]="record.locationName"
            [action]="service.renameLocation.bind(service)"
          ></app-editable-text>
        </td>
        <td>
          <app-editable-text-area
            [id]="record.locationId"
            [text]="record.locationAddress || ''"
            [action]="service.updateLocationAdress.bind(service)"
          ></app-editable-text-area>
        </td>
        <td>
          <app-editable-nav
            *ngIf="record.products > 0; else noLocationProducts"
            [text]="record.products.toString()"
            [spanText]="'Show products on location'"
            [editRoute]="
              '/workspace/locations/location/' + record.locationId + '/products'
            "
          >
          </app-editable-nav>
          <ng-template #noLocationProducts>
            {{ record.products }}
          </ng-template>
        </td>
        <td>
          <app-editable-nav
            *ngIf="record.movements > 0; else noLocationMovements"
            [text]="record.movements.toString()"
            [spanText]="'Show movements on location'"
            [editRoute]="
              '/workspace/locations/location/' +
              record.locationId +
              '/' +
              record.locationName +
              '/movements'
            "
          >
          </app-editable-nav>
          <ng-template #noLocationMovements>
            {{ record.movements }}
          </ng-template>
        </td>
        <td>
          <ng-container
            *ngIf="
              record.products === 0 && record.movements === 0;
              else noDeletion
            "
          >
            <app-small-delete-button
              [spanText]="'Delete location'"
              [id]="record.locationId"
              [deleteFn]="service.deleteLocation.bind(service)"
              (clicked)="setLocations()"
            ></app-small-delete-button>
          </ng-container>
          <ng-template #noDeletion>
            <span>No deletion available</span>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noLocations>
  <p
    class="noLocations"
    *ngIf="locations && locations.length === 0; else undefinedLocations"
  >
    There are not any locations registered yet.
  </p>
</ng-template>

<ng-template #undefinedLocations>
  <app-loading></app-loading>
</ng-template>
