<h2>Products related to supplier {{ supplierName }}</h2>

<app-add-product-relation
  [refreshProducts]="refreshNotRelatedProducts"
  [supplierId]="supplierId"
  (saved)="setRelatedProducts()"
></app-add-product-relation>

<div
  class="tableContainer"
  *ngIf="relatedProducts && relatedProducts.length > 0; else noProducts"
>
  <table aria-live="polite" aria-label="List of registered products">
    <thead>
      <tr>
        <th scope="col" (click)="sort('productName')">
          <div>
            Product name
            <p
              *ngIf="sortService.sortDirection['productName'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['productName'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['productName'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('categoryName')">
          <div>
            Category name
            <p
              *ngIf="sortService.sortDirection['categoryName'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['categoryName'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['categoryName'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('subcategoryName')">
          <div>
            Subcategory name
            <p
              *ngIf="sortService.sortDirection['subcategoryName'] === undefined"
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['subcategoryName'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['subcategoryName'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>

        <th scope="col" (click)="sort('productPresentation')">
          <div>
            Description
            <p
              *ngIf="
                sortService.sortDirection['productPresentation'] === undefined
              "
              aria-disabled="true"
            >
              &nbsp;
            </p>
            <img
              *ngIf="sortService.sortDirection['productPresentation'] === false"
              [src]="arrowDown"
              alt="Sort ascending"
            />
            <img
              *ngIf="sortService.sortDirection['productPresentation'] === true"
              [src]="arrowUp"
              alt="Sort descending"
            />
          </div>
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of relatedProducts">
        <td>
          <app-editable-nav
            [text]="record.productName"
            [spanText]="'View product details'"
            [editRoute]="
              'workspace/product/' +
              record.productId +
              (record.priceCurrencyId ? '/' + record.priceCurrencyId : '')
            "
          ></app-editable-nav>
        </td>
        <td>
          <app-editable-nav
            [text]="record.categoryName"
            [spanText]="'Set product category'"
            [editRoute]="
              'workspace/product/' +
              record.productId +
              '/' +
              record.productName +
              '/assign-subcategory' +
              (record.subcategoryId ? '/' + record.subcategoryId : '')
            "
          ></app-editable-nav>
        </td>
        <td>
          <app-editable-nav
            [text]="record.subcategoryName"
            [spanText]="'Set product category'"
            [editRoute]="
              'workspace/product/' +
              record.productId +
              '/' +
              record.productName +
              '/assign-subcategory' +
              (record.subcategoryId ? '/' + record.subcategoryId : '')
            "
          ></app-editable-nav>
        </td>
        <td>
          <app-editable-text-area
            [id]="record.productId"
            [text]="record.productPresentation"
            [action]="patchService.updateProductPresentation.bind(patchService)"
          ></app-editable-text-area>
        </td>
        <td>
          <app-small-delete-button
            [spanText]="'Delete supplier relation'"
            [id]="record.productId"
            [id2]="supplierId"
            [deleteFn2]="
              deleteService.deleteProductSupplierRelation.bind(deleteService)
            "
            (clicked)="setRelatedProducts()"
          ></app-small-delete-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noProducts>
  <p
    class="noProducts"
    *ngIf="
      relatedProducts && relatedProducts.length === 0;
      else undefinedProducts
    "
  >
    There are not any products registered yet.
  </p>
</ng-template>

<ng-template #undefinedProducts>
  <app-loading></app-loading>
</ng-template>
