@use "../../../../../styles.scss" as *;

:host {
  @include full-view();
  flex-direction: column;
  gap: 1rem;
  max-width: 98vw;
  min-height: 0;
}

h2 {
  @include standard-h2;
  overflow: hidden;
  width: 250px;
  max-width: 95vw;
  text-align: center;
}

p.noProducts {
  @include standard-plain-message;
}

.tableContainer {
  @include table-container;
  table {
    @include standard-table;
    thead {
      @include standard-table-thead;
      tr {
        @include standard-table-tr;
        th {
          @include standard-table-th;
          &:hover {
            cursor: pointer;
          }
          &:first-child {
            @include sticky-first-column;
          }
          &:nth-child(4) {
            width: 300px;
            min-width: 300px;
            max-width: 300px;
          }
          img {
            width: 10px;
          }
        }
      }
    }
    tbody {
      @include standard-table-tbody;
      tr {
        @include standard-table-tr;
        td {
          @include standard-table-td;
          &:first-child {
            @include sticky-first-column;
          }
          &:nth-child(4) {
            width: 300px;
            min-width: 300px;
            max-width: 300px;
          }
          span {
            font-size: map-get($font-sizes, "light");
          }
          app-editable-nav {
            ::ng-deep a {
              ::ng-deep span {
                padding: 0.25rem 0;
                min-width: 120px;
                top: -50px;
                z-index: 10;
              }
            }
          }
          app-small-delete-button {
            ::ng-deep button {
              ::ng-deep span {
                padding: 0.25rem 0;
                min-width: 120px;
                top: -50px;
                z-index: 10;
              }
            }
          }
        }
      }
    }
  }
}
