@use "../../../../styles.scss" as *;

:host {
  @include full-view();
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  max-width: 98vw;
}

h2 {
  @include standard-h2;
  overflow: hidden;
  width: 200px;
  max-width: 98vw;
  text-align: center;
}

p.noQuotas {
  @include standard-plain-message;
}

.tableContainer {
  @include table-container;
  table {
    @include standard-table;
    thead {
      @include standard-table-thead;
      tr {
        @include standard-table-tr;
        th {
          @include standard-table-th;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    tbody {
      @include standard-table-tbody;
      tr {
        @include standard-table-tr;
        td {
          @include standard-table-td;
        }
      }
    }
  }
}
