<h4>Free Plan – Try Inventory Manager at No Cost</h4>

<p>
  Get started today with our free version, designed to give you a full
  experience of what Inventory Manager has to offer.
</p>

<p>
  Perfect for individuals and small businesses, our free plan comes with
  generous limits to support your inventory needs, including:
</p>

<ul>
  <li>+ Up to 100 products</li>
  <li>+ Up to 2,000 inventory movements</li>
  <li>
    + Up to 50 records for other entities like categories, subcategories,
    suppliers, and locations
  </li>
</ul>

<p>
  These limits make Inventory Manager's free version ideal for testing the
  system and seeing how it can streamline your operations.
</p>
