<h2>Products</h2>

<app-add-product (saved)="setProducts()"></app-add-product>

<div
  class="tableContainer"
  *ngIf="products && products.length > 0; else noProducts"
>
  <table
    aria-live="polite"
    aria-label="List of registered products with their respective details"
  >
    <thead>
      <tr>
        <th scope="col" (click)="sort('productName')">Name</th>
        <th scope="col" (click)="sort('categoryName')">Category</th>
        <th scope="col" (click)="sort('subcategoryName')">Subcategory</th>
        <th scope="col" (click)="sort('productPresentation')">Presentation</th>
        <th scope="col" (click)="sort('minimumStock')">Minimum stock</th>
        <th scope="col" (click)="sort('retailPrice')">Retail price</th>
        <th scope="col" (click)="sort('wholesalePrice')">Wholesale price</th>
        <th scope="col" (click)="sort('priceCurrency')">Price currency</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.productName }}</td>
        <td>{{ product.categoryName }}</td>
        <td>{{ product.subcategoryName }}</td>
        <td>{{ product.productPresentation }}</td>
        <td>{{ product.minimumStock }}</td>
        <td>{{ product.retailPrice | currency : product.priceCurrency }}</td>
        <td>{{ product.wholesalePrice | currency : product.priceCurrency }}</td>
        <td>{{ product.priceCurrency }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noProducts>
  <p class="noProducts">There are not any products registered yet.</p>
</ng-template>
