<h2>Products</h2>

<app-add-product (saved)="setProducts()"></app-add-product>

<div
  class="tableContainer"
  *ngIf="products && products.length > 0; else noProducts"
>
  <table
    aria-live="polite"
    aria-label="List of registered products with their respective details"
  >
    <thead>
      <tr>
        <th scope="col" (click)="sort('productName')">
          Name
          <img
            *ngIf="sortService.sortDirection['productName'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['productName'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('categoryName')">
          Category
          <img
            *ngIf="sortService.sortDirection['categoryName'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['categoryName'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('subcategoryName')">
          Subcategory
          <img
            *ngIf="sortService.sortDirection['subcategoryName'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['subcategoryName'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('productPresentation')">
          Description
          <img
            *ngIf="sortService.sortDirection['productPresentation'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['productPresentation'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('minimumStock')">
          Minimum stock
          <img
            *ngIf="sortService.sortDirection['minimumStock'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['minimumStock'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('totalStock')">
          Current stock
          <img
            *ngIf="sortService.sortDirection['totalStock'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['totalStockk'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('retailPrice')">
          Retail price
          <img
            *ngIf="sortService.sortDirection['retailPrice'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['retailPrice'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('wholesalePrice')">
          Wholesale price
          <img
            *ngIf="sortService.sortDirection['wholesalePrice'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['wholesalePrice'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
        <th scope="col" (click)="sort('priceCurrency')">
          Price currency
          <img
            *ngIf="sortService.sortDirection['priceCurrency'] === false"
            [src]="arrowDown"
            alt="Sort ascending"
          />
          <img
            *ngIf="sortService.sortDirection['priceCurrency'] === true"
            [src]="arrowUp"
            alt="Sort descending"
          />
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.productName }}</td>
        <td>
          <app-editable-nav
            [text]="product.categoryName"
            [spanText]="'Set product category'"
            [editRoute]="
              'workspace/product/' +
              product.productId +
              '/' +
              product.productName +
              '/assign-subcategory' +
              (product.subcategoryId ? '/' + product.subcategoryId : '')
            "
          ></app-editable-nav>
        </td>
        <td>
          <app-editable-nav
            [text]="product.subcategoryName"
            [spanText]="'Set product category'"
            [editRoute]="
              'workspace/product/' +
              product.productId +
              '/' +
              product.productName +
              '/assign-subcategory' +
              (product.subcategoryId ? '/' + product.subcategoryId : '')
            "
          ></app-editable-nav>
        </td>
        <td>
          <app-editable-text-area
            [id]="product.productId"
            [text]="product.productPresentation"
            [action]="patchService.updateProductPresentation.bind(patchService)"
          ></app-editable-text-area>
        </td>
        <td>
          <app-editable-number
            [decimals]="0"
            [id]="product.productId"
            [text]="product.minimumStock.toString()"
            [action]="patchService.updateMinimumStock.bind(patchService)"
          ></app-editable-number>
        </td>
        <td>{{ product.totalStock }}</td>
        <td>
          <app-editable-number
            [decimals]="2"
            [id]="product.productId"
            [text]="product.retailPrice.toString()"
            [action]="patchService.updateRetailPrice.bind(patchService)"
          ></app-editable-number>
        </td>
        <td>
          <app-editable-number
            [decimals]="2"
            [id]="product.productId"
            [text]="product.wholesalePrice.toString()"
            [action]="patchService.updateWholesalePrice.bind(patchService)"
          ></app-editable-number>
        </td>
        <td>{{ product.priceCurrency }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noProducts>
  <p class="noProducts">There are not any products registered yet.</p>
</ng-template>
