@use "../../../../styles.scss" as *;

:host {
  @include full-view();
  flex-direction: column;
  gap: 1rem;
  max-width: 98vw;
  min-height: 0;
}

h2 {
  @include standard-h2;
  overflow: hidden;
  width: 200px;
  max-width: 98vw;
  text-align: center;
}
.filter {
  @include standard-filter();
}

p.noProducts {
  @include standard-plain-message;
}

.tableContainer {
  @include table-container;
  table {
    @include standard-table;
    thead {
      @include standard-table-thead;
      tr {
        @include standard-table-tr;
        th {
          @include standard-table-th;
          &:hover {
            cursor: pointer;
          }
          &:first-child {
            @include sticky-first-column;
          }
          &:nth-child(4) {
            min-width: 300px;
            width: 300px;
            max-width: 300px;
          }
          img {
            width: 10px;
          }
        }
      }
    }
    tbody {
      @include standard-table-tbody;
      tr {
        @include standard-table-tr;
        td {
          @include standard-table-td;
          &:first-child {
            @include sticky-first-column;
            app-editable-nav {
              ::ng-deep a {
                color: black;
                ::ng-deep span {
                  top: -70px;
                }
              }
            }
          }
          &:nth-child(4) {
            min-width: 300px;
            width: 300px;
            max-width: 300px;
          }

          app-editable-nav {
            ::ng-deep a {
              ::ng-deep span {
                top: -50px;
              }
            }
          }
        }
      }
    }
  }
}
