<div>
  <div class="circle">
    <img src="assets/track.png" alt="logo" />
    <h1>Inventory Manager</h1>
    <h2>Simplify Your Inventory, Anytime, Anywhere!</h2>
  </div>

  <section>
    <p>
      Welcome to Inventory Manager, your go-to solution for effortless inventory
      tracking and management.
    </p>
    <h3>Ready to simplify your inventory?</h3>
    <button (click)="handleClick()">
      Sign up today and get started for free!
    </button>
    <p>
      Whether you're running a small business or organizing stock for personal
      use, our intuitive platform is here to streamline every aspect of your
      inventory process.
    </p>
    <p>
      Manage your products, track movements, and stay on top of stock levels,
      all from one simple interface—no technical expertise required!
    </p>
  </section>
</div>
