@use "./variables" as *;

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  gap: 0.5rem;
}

@mixin card-grid() {
  width: 80%;
  min-height: 80vh;
  padding: 2rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 80px;
}

@mixin full-view() {
  @include flex-center();
  width: 100%;
  min-height: 100vh;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin standard-label() {
  font-size: map-get($font-sizes, "regular");
  text-align: center;
  font-weight: 500;
}

@mixin standard-input() {
  font-family: "Montserrat", sans-serif;
  font-size: map-get($font-sizes, "small");
  text-align: center;
  width: 80%;
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid $primary-decorative-color;

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid $primary-background-color;
    transform: translate(-4px, -4px);
    box-shadow: 2px 2px 0px $primary-decorative-color;
    filter: drop-shadow(2px 2px 10px $primary-decorative-color);
    transition: all 0.5s ease;
  }
}

@mixin standard-router-link {
  @include flex-center();
  width: 80%;
  text-decoration: none;
  font-size: map-get($font-sizes, "light");
  text-align: center;
  color: black;
  span {
    text-decoration: underline;
    font-weight: 600;
    color: $secondary-text-color;
    cursor: pointer;
  }
}

@mixin standard-h2 {
  overflow: hidden;
  width: 200px;
  max-width: 98vw;
  text-align: center;
  color: $secondary-text-color;
  font-size: map-get($font-sizes, "medium");
  font-weight: 600;
  background-color: $secondary-background-color;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin: 2rem;
  box-shadow: 1px 1px 20px 0px $primary-decorative-color,
    -1px -1px 5px $primary-decorative-color;
}

@mixin standard-h3 {
  @include standard-h2();
  font-size: map-get($font-sizes, "regular");
}

@mixin standard-plain-message {
  font-size: map-get($font-sizes, "regular");
  color: $primary-text-color;
  text-align: center;
  margin: 2rem;
}

@mixin standard-anchor-router-link {
  position: relative;
  @include flex-center(column);
}

@mixin standard-span {
  z-index: 2;
  width: 80px;
  height: auto;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease;
  top: -70px;
  right: 20px;
  text-align: center;
  font-size: map-get($font-sizes, "light");
  background-color: $primary-background-color;
  color: $primary-text-color;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  pointer-events: none;
}

@mixin standard-filter {
  @include flex-center(column);
  gap: 1rem;
  width: 80vw;
  max-width: 400px;
  padding: 1rem 1.5rem;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 0px $primary-decorative-color,
    -1px -1px 5px $primary-decorative-color;
  background-color: $secondary-background-color;

  label {
    @include standard-label();
    font-weight: 600;
  }

  input {
    @include standard-input();
    width: 98%;
  }
}

@mixin table-container {
  margin: 1rem;
  width: auto;
  max-width: 95vw;
  max-height: 90vh;
}

@mixin standard-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 0px $primary-decorative-color,
    -1px -1px 5px $primary-decorative-color;
  background-color: $secondary-background-color;
  text-align: center;
  overflow: auto;
  position: relative;
}

@mixin standard-table-thead {
  max-width: 100%;
  width: 100%;
  position: sticky;
  display: table-header-group;
  top: 0;
  z-index: 4;
  background-color: $secondary-background-color;
}

@mixin standard-table-tbody {
  max-width: 100%;
  width: 100%;
  max-height: 80vh;
  display: table-row-group;
  position: relative;
}

@mixin standard-table-tr {
  display: table-row;
  max-width: 100%;
  width: 100%;

  border-bottom: 1px solid $primary-decorative-color;
}

@mixin standard-table-th {
  display: table-cell;
  position: relative;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  font-weight: bold;
  background-color: $secondary-background-color;

  div {
    @include flex-center();
    p {
      min-width: 10px;
      width: 10px;
    }
    img {
      min-width: 10px;
      width: 10px;
    }
  }
}

@mixin standard-table-td {
  display: table-cell;
  position: relative;
  min-width: 150px;
  width: 150px;
  max-width: 150px;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
}

@mixin sticky-first-column {
  position: sticky;
  left: 0px;
  z-index: 3;
  background-color: $secondary-background-color;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  @include mobile() {
    position: relative;
  }
}
