$primary-text-color: rgb(255, 255, 255);
$secondary-text-color: rgb(55, 55, 216);
$primary-background-color: rgb(55, 55, 216);
$secondary-background-color: rgb(255, 255, 255);
$primary-decorative-color: rgb(43, 43, 125);
$secondary-decorative-color: rgb(154, 154, 244);
$font-sizes: (
  "light": 0.75rem,
  "small": 1rem,
  "regular": 1.25rem,
  "medium": 1.5rem,
  "big": 2rem,
);
$mobile: 800px;
