@use "../../../../../../styles.scss" as *;

:host {
  @include full-view();
  flex-direction: column;
  gap: 1rem;
  max-width: 98vw;
  min-height: 0;
}

h2 {
  @include standard-h2;
  overflow: hidden;
  width: 200px;
  max-width: 98vw;
  text-align: center;
}

.filter {
  @include standard-filter();
}

p.noMovements {
  @include standard-plain-message;
}

.tableContainer {
  @include table-container;
  table {
    @include standard-table;
    thead {
      @include standard-table-thead;
      tr {
        @include standard-table-tr;
        th {
          @include standard-table-th;
          &:hover {
            cursor: pointer;
          }
          &:first-child {
            @include sticky-first-column;
          }
          &:nth-child(4) {
            min-width: 350px;
            width: 350px;
            max-width: 350px;
          }
        }
      }
    }
    tbody {
      @include standard-table-tbody;
      tr {
        @include standard-table-tr;
        td {
          @include standard-table-td;
          &:first-child {
            @include sticky-first-column;
          }
          &:nth-child(4) {
            min-width: 350px;
            width: 350px;
            max-width: 350px;
          }
        }
      }
    }
  }
}
